*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Inter', sans-serif;
}

.container{
    width: 1200px;
    margin: 0px auto;
}

header{
    background-color: #FFFFFF;
    padding: 35px 0px;
}

header .flex{
    align-items: center;
}

header nav a:last-child{
    padding: 15px 30px;
    background-color: #2BF2F6;
    border-radius: 50px;
}

header nav a{
    text-decoration: none;
    color: #3734A9;
    font-size: 20px;
    margin: 0px 25px 0px 0px;
    font-weight: 700;
}

header nav a:last-child img{
    position: relative;
    top: 5px /*margin*/
}

main{
    clear: both;
    padding: 120px 0px;
    background-color: #3734A9;
}


main .flex{
    align-items: center;
}

main .textos h1{
    color: #FFFFFF;
    font-size: 60px;
    width: 85%;
}

main .textos p{
    color: #FFFFFF;
    font-size: 26px;
    width: 85%;
    margin: 20px 0px;
    line-height: 150%;

}

main .textos a{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    background-color: #2BF2F6;
    margin: 0px 20px 0px 0px;
    padding: 15px 30px;
    border-radius: 50px;
    display: inline-block;
    color: #3734A9;
}

main .texto a:last-child{
    background-color: #3734A9;
    color: #2BF2F6;
    border: 1px solid #2BF2F6;
}

footer{
    padding: 55px 0px;
    background-color: #2BF2F6;
}

footer a{
    color: #3734A9;
    font-size: 18px;
    margin: 0px 25px 0px 0px;

}

footer .container > a{
    font-weight: bold;

}

.flex{
    display: flex;
    justify-content: space-between;
}